<div class="navbar">
    <div class="navtext">
        <div class="name">
            UX HARSHA
        </div>
        <div class="links">
            <ul>
                <li> <a [href]='behanceURL' target="_blank"> BEHANCE </a> </li>
                <li> <a [href]='linkedinURL' target="_blank"> LINKEDIN </a> </li>
            </ul>
        </div>
    </div>
    <div class="line01">
        <hr>
    </div>
    <div class="harsha">
        
    </div>
    <div class="line01">
        <hr>
    </div>
    <div class="details">
        <div class="address">
            KEGALLE, SRI LANKA
        </div>
        <div class="degree">
            BSC HONS COMPUTING AND INFORMATION SYSTEMS
        </div>

    </div>

</div>
