<div class="main">
    <div class="line">
        <hr>
    </div>
    <div class="headerContainer">
        <div class="element01">
            01
        </div>
        <div class="element02">
            web design
        </div>
        <div class="element03">
            figma | Adobe illustrator
        </div>
    </div>
    <div class="cardSection">
        
        <div class="title">
            90flora
        </div>
        <div class="img">
            <div class="imgElement">
                
            </div>
        </div>
    </div>
</div>