<div class="mainContainer">
    <div class="set01">
        <div class="icontainer">
            <div class="itext"></div>
        </div>

        <div class="desription">
            n the realm of digital design, I believe that less is more. By embracing modern minimalism, I create sleek and functional interfaces that prioritize user experience. My approach blends luxurious simplicity with a keen attention to detail, ensuring that each element serves a purpose and enhances the overall design. With a focus on unique and impactful solutions, I strive to craft digital experiences that not only look stunning but also resonate deeply with users and reflect the individuality of each brand. Let's collaborate to bring your vision to life with clarity, elegance, and innovation.
        </div>
    </div>

    <div class="set02">
        <div class="link">
            <div class="name">
                <a [href]='linkedinURL' target="_blank"> LINKEDIN </a>
            </div>
            <div class="arrow">

            </div>
        </div>

        <div class="link">
            <div class="name">
                <a [href]='behanceURL' target="_blank"> BEHANCE </a>
            </div>
            <div class="arrow">

            </div>
        </div>
            
    </div>
</div>