<div class="main">
    <div class="line">
        <hr>
    </div>
    <div class="headerContainer">
        <div class="element01">
            03
        </div>
        <div class="element02">
            web design
        </div>
        <div class="element03">
            Angular | figma | Adobe illustrator | Adobe photoshop
        </div>
    </div>
    <div class=cardSectionMain>
        
        <div class="cardSection">
            <div class="title">
                
                <div class="titleElement">
                    ux
                </div>
                
            </div>
            <div class="img">
                <div class="imgElement">
                    
                </div>
            </div>
        </div>
        <div class="title02">
            harsha
        </div>
    </div>
</div>