<div class="dashedlinebg">
    <div class="dashedlinecontainer">
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
        <div class="onesegment">
            <div class="dashedline01">
            </div>
            <div class="dashedline01">
            </div>
        </div>
    </div>

    <div class ="section2text">
        <div class="section2TextElement">

            <div class="textLine01">
                <div class="minimalText">
                    MINIMAL
                </div>
                <div class="brightText">
                    BRIGHT
                </div>
            </div>

            <div class="textLine02">
                <div class="luxuriantText">
                    LUXURIANT
                </div>
            </div>

            <div class="textLine03">
                <div class="modernText">
                    MODERN
                </div>
            </div>

            <div class="textLine04">
                <div class="uniqueext">
                   UNIQUE
                </div>
            </div>


        </div>

        <div class="section2Description">
            <div class="descriptionParahraph">
                Welcome to my portfolio! I am a passionate UI/UX engineer with a flair for creating unique, minimalist designs that stand out in the digital world. My approach is centered on the belief that less is more, and I strive to deliver clean, modern interfaces that are not only visually appealing but also highly functional.
            </div>
        </div>

    </div>

    </div>

